body{
    background-color: #ebebeb;
}

.novedad {
    width: 100%;
    display: flex;
}

.novedades-imagen {
    display: flex;
    justify-content: center;
    width: 100%;
}

.seccion {
    margin-bottom: -30px;
    min-height: 0;
    padding: 40px 0;
}

.separacion {
    border-left: 1px solid #ccc;
    height: 100%;
}

.nombre-seccion{
    font-size: 26px;
    font-weight: 300;
    margin: 0 0 0 8px;
    color: #666;
}

.link-seccion{
    color: #3483fa;
    margin: auto 0 2px;
    text-decoration: none;
    margin-left: 16px; 
}

.contenedor-seccion {
    margin: 0 auto;
    display: flex;
    max-width: 1184px;
    margin-top: 20px;
}

.contenedor-metodo {
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedor-metodo div {
    height: 100%;
    justify-content: center;
    display: flex;
    margin-left: 20px;
    width: 225px;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 25%;
}

.contenedor-metodo div>img {
    display: flex;
    order: 1;
    flex: 0 0 100%;
    width: 50px;
}

.contenedor-metodo div>span {
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    order: 2;
    flex: 0 0 28%;
    width: 72%;
    color: #333;
}

.contenedor-metodo div>a {
    display: flex;
    position: relative;
    order: 3;
    color: #348;
}

.contenedor-oferta {
    flex-direction: row;
    gap: 16px;
}

.contenedor-objeto {
    width: 20%;
    height: 350px;
    top: 0px;
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.contenedor-objeto>div:first-child {
    width: 100%;
    min-height: 45%;
    height: 60%;
    border-bottom: solid 1px #dad8d8;
    justify-content: center;
    display: flex;
}

.contenedor-objeto>div:nth-child(2) {
    height: 88px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.contenedor-objeto>div:nth-child(2)>span:nth-child(1) {
    font-size: 23px;
    line-height: 24px;
    display: flex;
    flex-basis: 40%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 16px;
    color: #333;
}

.contenedor-objeto>div:nth-child(2)>span:nth-child(2) {
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #00A650;
    flex-basis: 32%;
    margin-left: 5px;
}

.contenedor-objeto>div:nth-child(2)>span:nth-child(3) {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: flex-start;
    color: #00A650;
    justify-content: flex-start;
    flex-basis: 100%;
    margin-left: 16px;
}

.contenedor-objeto>div:nth-child(2)>span:nth-child(3)>svg {
    top: 2px;
    position: relative;
    left: 4px;
}

.contenedor-objeto>img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.contenedor-sucripcion{
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    height: 330px;
    flex-direction: column;
}

.header-suscripcion {
    width: 1180px;
    height: 87px;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(90deg, #A90F90 55%, #0C1A51 100%);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 10%);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.header-suscripcion>span:first-child {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    width: 300px;
    height: 38px;
    margin-left: 24px;
    margin-top: 24.5px;
    display: flex;
    color: #FFFFFF;
}

.texto-sucripcion-precio {
    display: flex;
    flex-direction: column;
    border-left: 2px solid #FFFFFF;
    text-align: right;
    padding-left: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    width: 150px;
    height: 38px;
    margin-left: 24px;
    margin-top: 24.5px;
    color: #FFFFFF;
}

.fila-suscripcion {
    display: flex;
    flex-direction: row;
}

.texto-sucripcion-precio>span:nth-child(1) {
    width: 56px;
    height: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    text-decoration-line: line-through;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.texto-sucripcion-precio>span:nth-child(2) {
    width: 88px;
    height: 24px;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.texto-sucripcion-precio>span:nth-child(3) {
    width: 30px;
    height: 14px;
    left: 93.45px;
    margin-top: 8px;
    font-weight: 600;
    font-size: 13px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
}

.suscripcion-mitad {
    height: 172px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #cfcfcf;
    background: #FFFFFF;
    overflow: hidden;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 10%);
    width: 1180px;
}

.suscripcion-mitad>span:first-child {
    width: 400.15px;
    height: 25px;
    margin-left: 24px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #000000;
}

.opciones-suscripcion {
    display: flex;
    flex-direction: row;
    margin-left: 24px;
    margin-top: 40px;
    margin-right: 50px;
    margin-bottom: 15px;
}

.suscripcion-icono {
    display: flex;
    width: 33%;
    flex-wrap: wrap;
    flex-direction: row;
    height: 74px;
    gap: 15px;
}

.suscripcion-icono>img {
    display: flex;
    margin-left: 24px;
    box-sizing: border-box;
    width: 74px;
    height: 74px;
    border: 1px solid #cfcfcf;
    border-radius: 37px;
}

.suscripcion-icono>span{
    width: 180px;
    height: 16px;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    align-items: center;
    order: 1;
    flex-grow: 0;
    color: #000000;
}

.suscripcion-footer {
    margin: 0 auto;
    width: 1180px;
    border-top: 1px solid #EDEDED;
    align-items: center;
    justify-content: space-between;
    padding: 16px 30px;
    background: #FFFFFF;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.boton-suscribete {
    width: 123.72px;
    height: 48px;
    margin-left: 1000px;
    border-radius: 6px;
    background: #3483FA;
    border-color: transparent;
    color: #fff;
}

.contenedor-beneficios {
    height: 266px;
    flex-direction: row;
    gap: 16px;
}

.beneficio {
    min-width: 100px;
    min-height: 100px;
    top: 0px;
    max-width: 384px;
    max-height: 250px;
    margin-bottom: 20px;
    border-radius: 6px;
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
}

.beneficio>.background {
    width: 100%;
}

.beneficio>.icon {
    position: absolute;
    left: 15px;
    bottom: 16px;
}

.beneficio>div {
    position: absolute;
    height: 124px;
    left: 0px;
    right: 0px;
    bottom: 0px;

}

.beneficio span:nth-of-type(1) {
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    left: 112px;
    bottom: 57px;
}

.beneficio span:nth-of-type(2) {
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    position: absolute;
    left: 112px;
    bottom: 32px;
}

.beneficio span:nth-of-type(3) {
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    left: 112px;
    bottom: 75px;
}

.contenedor-descubre {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 16px;
}

.descubre {
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    min-width: 100px;
    min-height: 100px;
    max-width: 584px;
    max-height: 250px;
    display: grid;
    grid-template-columns: auto auto;
}

.descubre span:nth-of-type(1) {
    position: relative;
    left: 32px;
    top: 58px;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #4B4B4B;
}

.descubre span:nth-of-type(2) {
    position: relative;
    left: 32px;
    top: 81px;
    font-weight: 600;
    font-size: 28px;
    line-height: 31px;
    text-transform: uppercase;
    color: #4B4B4B;
    display: block;
}

.descubre button {
    position: relative;
    width: 96px;
    height: 36px;
    left: 32px;
    top: 89.59px;
    background: #3483FA;
    border-radius: 2px;
    color: #FFFFFF;
    border: none;
    cursor: pointer
}

.contenedor-tiendas {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.tiendas {

    max-width: 284px;
    max-height: 340px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.tiendas img:nth-of-type(1) {
    height: 95px;
    position: relative;
    width: 100%;
    grid-column: 1/4;
    grid-row: 1;
}

.tiendas img:nth-of-type(2) {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    top: 56px;
    height: 80px;
    grid-column: 2/3;
    grid-row: 1/1;
    justify-self: center;
}

.tiendas span:nth-of-type(1) {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
    justify-content: center;
    display: grid;
    grid-column: 2;
    grid-row: 3;
}

.tiendas span:nth-of-type(2) {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-self: center;
    color: #999999;
    grid-column: 2;
    grid-row: 5;
    cursor: pointer;
}

.tiendas img:nth-of-type(3) {
    grid-column: 1;
    grid-row: 4;
    justify-self: right;
}

.tiendas img:nth-of-type(4) {
    grid-column: 3;
    grid-row: 4;
}

.tiendas img:nth-of-type(5) {
    grid-row: 4;
    grid-column: 2;
    justify-self: center;
}


.tiendas>.border-img {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}


.lista-colecciones {
    font-weight: 600;
    font-size: 26px;
    color: #666666;
    text-decoration: none;
}

.lista-colecciones::before {
    content: "";
    border: solid rgba(18, 58, 190, 0.6);
    border-width: 0 2px 2px 0;
    float: right;
    vertical-align: middle;
    margin-top: 13px;
    margin-right: 5px;
    margin-left: 5px;
    transform: rotate(45deg);
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(45deg);
}

.contenedor-colecciones {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
}

.contenedor-colecciones>.first-item {
    grid-row: 1 / span 2;
    grid-column: 1 / 2;
    width: 100%;
}

.contenedor-colecciones>div {
    background-color: #FFFFFF;
    text-align: center;
}

.contenedor-colecciones>div>span:nth-last-of-type(2) {
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-left: 25px;
    margin-top: 20px;
    color: #000000;
}

.contenedor-colecciones>div>span:nth-last-of-type(1) {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #4B4B4B;
    margin-left: 25px;
    margin-top: 4px;
}

.contenedor-categorias {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.categorias-contenido {
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    border-width: 1px;
    border-style: solid;
    border-color: #EAE6E6;
    text-align: center;
}

.categorias-contenido>div {
    height: 170px;
    width: 170px;
    box-sizing: border-box;
    background-color: #fff;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #EAE6E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.categorias-contenido>div>span {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
}
